/*style the header*/
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

header a {
    display: inline;
    text-align: left;
    padding-left: 25px;
    text-decoration: none;
}

header p {
    display: flex;
    margin: 10px;
    padding-right: 25px;
}

/*define the sizes for the text*/
body {
    font-size: 28px;
}

h1 {
    font-size: 180%;
}

/*style the text in the main section to be in the center */
main {
    padding-left: 25%;
    text-align: center;
    width: 50%;
}

/*To provide a space between Time: and the number*/
span {
    padding-left: 10px;
}

/*Styling all of the buttons*/
button {
    color: white;
    background-color: rgb(35, 7, 88);
    font-size: 100%;
    border: transparent;
    border-radius: 15px;
    padding: 20px;
}

button:hover {
    background-color: blueviolet;
    cursor: pointer;
}

/*Style for the unordered list to remove the list bullet.*/
ul {
    list-style: none;
    padding-left: 0px;
}

/*Style for the list items to provide padding between them.*/
li {
    padding-bottom: 15px;
}

/*add styling for the buttons specifically for the questions.*/
.answer {
    width: 285px;
    text-align: left;
}

/*Add styling for the form fields*/
form {
    display: none;
}

#submit {
    padding-top: 5px;
    padding-bottom: 5px;
}

input {   
    height: 30px;
    width: 50%;
    font-size: 20px;
}

/*styling for the result of the previous answer*/
#result {
    font-size: 170%;
    color:Grey;
    margin: 0px;
}